.modal-body {
    padding-bottom: 5px;
}

.divErro {
    display: none;
}

.alertModal {
    margin-top: 0px;
}

.close {
    margin-top: 5px;
}

.nomeSigla {
    padding-right: 35px;
}

.help-block {
    display: none;
}

.carregaModal {
    display:none;
}